@media only screen and (orientation: portrait) {
  main {
    display: flex;
    flex-direction: column;
  }

  #main-left {
    min-height: 100vmin;
    background-size: 85%;
  }

  #choices {
    grid-template-columns: 1fr;
  }
}